{% extends "base.html" %}
{% block content %}
    <center><h2>Text Preprocessing</h2></center>
    <form method = "POST">
     {% csrf_token %}
     <div class =" form-group">        
         {{ form.message.label_tag }}         
         <textarea class ="form-control {% if form.message.errors %} is-invalid{% endif %}" id ="id_message" name ="message" rows ="20" cols="150">{{ form.message.value | default:""}}</textarea >
         {% if form.message.errors %}
             <div class ="invalid-feedback">{{ form.message.errors }}</div>
         {% endif %}     
     </div>     

     <button type ="submit" class ="btn btn-primary"> Submit </button > 
 </form >
 {% endblock content %}