{% extends "base.html" %}
{% block content %}
    <center><h2>Text Preprocessing</h2></center>
    <form id="preprocessing" class="container">
        {% csrf_token %}
        <div class ="form-group">        
            {{ form.message.label_tag }}         
            <textarea class ="form-control {% if form.message.errors %} is-invalid{% endif %}" id ="id_message" name ="message" rows ="20">{{ form.message.value | default:""}}</textarea >
            {% if form.message.errors %}
                <div class ="invalid-feedback">{{ form.message.errors }}</div>
            {% endif %}     
        </div>
        <button type ="submit" class ="btn btn-primary"> Tokenization </button >
        
        {% comment %} <button type ="submit" class ="btn btn-primary"> Stemming </button > 

        <button type ="submit" class ="btn btn-primary"> Lemmatization </button >

        <button type ="submit" class ="btn btn-primary"> Stop Words </button >   {% endcomment %}
    </form >
 {% endblock content %}

 {% block js %}
    <script>
        $(document).ready(function(){
            $('#preprocessing').submit(function(event) {
                event.preventDefault();
                $.ajax({
                    type:"POST",
                    url:"{% url 'preprocessing' %}",
                    data : {'message': $('#message').val(),
                            },
                    success: function(result){
                        console.log(result)
                    }
                });
                return false;
            })
        });
    </script>
 {% endblock %}